<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @budget.user %>
</p>

<p>
  <b>Amount:</b>
  <%= @budget.amount %>
</p>


<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
