<%= nested_form_for(@user, html: { class: 'nice' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'input-text' %>
  </div>

  <% if false %>
    <h2>Budgets</h2>
    <ul>
      <%= f.fields_for(:budgets) do |bf| %>
        <li>
          Name: <%= bf.text_field :tag %>
          Amount: <%= bf.text_field :amount %>
          <%= bf.link_to_remove 'Remove budget' %>
        </li>
      <% end %>
      <%= f.link_to_add 'Add budget', :budgets %>
    </ul>
  <% end %>

  <div class="actions">
    <%= f.submit class: std_button %>
  </div>
<% end %>
