<tr>
  <td><%= purchase.description %></td>
  <td><%= purchase.amount %></td>
  <td><%= link_to 'Show', purchase %></td>
  <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
  <td><%= link_to 'Destroy', purchase, confirm: 'Are you sure?', method: :delete %></td>
</tr>
