<%= form_for(@household, url: household_path(current_user), html: { class: 'nice' }) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% @household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'input-text' %>
  </div>
  <div class="actions">
    <%= f.submit class: std_button %>
  </div>
<% end %>
