<h2>Your household</h2>
<div class="panel">
  <% if current_user.household %>
    <h3>Recent purchases</h3>

    <ul>
      <% recent_household_purchases.each do |purchase| %>
        <li><%= purchase.description %>: <%= number_to_currency purchase.amount %>, <%= purchase.user.name %></li>
      <% end %>
    </ul>
    <%= link_to "Invite someone to your household", new_invite_path %>
  <% else %>
    <%= link_to "Make a Household", new_household_path(current_user) %>
  <% end %>
</div>
