<!DOCTYPE html>
<html>
<head>
  <title>Expenseapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to 'Preferences', edit_user_path(current_user) %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <div class="row">
      <div class="eight columns">
        <%= yield %>
      </div>
      <div class="four columns">
        <%= render 'household' %>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</div>

</body>
</html>
